$color-primary : #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bkcolor-footer : #353535;
$white : #FFF;
$bkcolor-site : #F2F2F2;
$color-typography: #000;
$bkcolor-location: #EAEAEA;
$icon-color: #7E7E7E;
$bkcolor-functioning: #F6F6F6;
$bkcolor-functiong--active: rgba(147,86,220,0.2);

$full-width : 100%;
$padding-bottom: 5%;
$margin-bottom: 5%;


$tablet: 599px;
$desktop: 1024px;