@mixin btn-lighter ($colour){
    background-color: lighten($colour, 50%);   
}
.btn-gradient{
    color: $white;
    font-weight: 800;
    font-size: $btn-size;
    border: none;
    width: 230px;
    height: 50px;
    background: linear-gradient($color-secondary,$color-primary);
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    margin: auto;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);

    &:hover{
        box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        @include btn-lighter($color-secondary );
    }
}

