.location-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: $bkcolor-location;
    box-shadow: inset 0px 15px 10px -15px rgba(0, 0, 0, .5);    
    
    .fa-solid{
        width: 5%;
    }
    input{
        border: none;
        background-color: transparent;
        width: 30%;
    }
}